.container{
width: 71.25rem;
margin:0 auto;
}
.main-header{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: stretch;
    flex-direction: column;   
    background-color: blueviolet;
    border-radius: 25px;
    margin-top: 3.125rem;
}
.sarlavha{
    border: 1px solid rgb(255, 255, 255);
    border-radius:25px 25px 0 0;
    width: 100%;
    background: rgb(179, 54, 252);
}
.sarlavha h3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch; 
    color: white;

}


.forms form input{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    width: 25rem;
    height: 1.875rem;
    border: none;
    border-radius: 7px;
    font-size: 1.25rem;
}
.forms form input:focus{
    outline: none;
}
.forms form label{
    display: flex;
    color: white;
    margin: 10px 0;
    font-size: 1.125rem;
    text-transform: uppercase
}
.forms form button{
    margin-top: 1.25rem;
    width: 25rem;
    border: none;
    border-radius: 7px;
    height:2.5rem;
    background-color: rgb(211, 16, 236);
    color: white;
    cursor: pointer;
    font-size: 1.56rem;
    text-transform: uppercase;
}

@media(max-width:500px){
    .container{
        width: 35.625rem;
    }
    .main__header{
        width: 100%;       
        border-radius:0px
        ;

    }
    .forms form input{
        width: 12.5rem;
    }
    .forms form button{
        width: 12.5rem;
    }
}
